<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Trung tâm tin học - HUIT</title>

    <style>
        .custom-header {
            background-color: #0066b3;
            color: white;
        }

        .info {
            float: left;
            color: #fff;
            font-weight: normal;
            text-align: left;
            width: 100%;
            padding-left: 3px;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">
    <header class="bg-primary" style="background-color: #0066b3;">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center py-2">
                <div class="text-white d-flex align-items-center">
                    <img src="~/images/school.png" />
                    <h4 class="m-3">Trung tâm tin học HUIT</h4>
                </div>
                <nav>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                <img src="~/images/home.png" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("GioiThieu", "GioiThieu")">Giới Thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("LienHe", "Home")">Liên Hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("HoiDap", "Home")">Hỏi đáp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("DangNhap", "Home")">Đăng nhập</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="@Url.Action("DangKy", "Home")">Đăng ký</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="p-3 w-100">
        @RenderBody()
    </main>

    <footer class="bg-primary position-fixed left-0 text-white" style="background-color: #0066b3; position: relative; bottom: 0; width: 100%;">
        <div class="pt-10 pb-10">
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <dl>
                                <dt><i class="fa fa-home"></i>&nbsp;Đơn vị:</dt>
                                <dd>Trung tâm Công nghệ Thông tin</dd>
                            </dl>
                            <dl>
                                <dt><i class="fa fa-map-marker"></i>&nbsp;Địa chỉ:</dt>
                                <dd>140 Lê Trọng Tấn, P. Tây Thạnh, Q. Tân Phú, TP. Hồ Chí Minh</dd>
                            </dl>
                            <dl>
                                <dt><i class="fa fa-phone"></i>&nbsp;Điện thoại:</dt>
                                <dd>Hotline: 0869 016 079</dd>
                            </dl>
                            <dl>
                                <dt><i class="fa fa-envelope"></i>&nbsp;Email:</dt>
                                <dd>its@hufi.edu.vn</dd>
                            </dl>
                            <div class="footer-about">
                                <ul class="list-inline mt-3 ul-social">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/itshufi" class="facebook"><i class="ficon fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="https://zalo.me/4418938306145458374" class="zalo"><i class="fa"></i></a></li>
                                    <li class="list-inline-item"><a href="https://vt.tiktok.com/ZSJNKjowo" class="tiktok"><i class="fa"></i></a></li>
                                    <li class="list-inline-item"><a href="#" class="youtube"><i class="ficon fa-youtube"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.instagram.com/dh_congthuong/" class="instagram"><i class="ficon fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.056848429508!2d106.62643781411664!3d10.80695806158611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be27d8b4f4d%3A0x92dcba2950430867!2zVHLGsOG7nW5nIMSQYcyjaSBob8yjYyBDw7RuZyBuZ2hp4buHcCBUaOG7sWMgcGjhuqltIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1569207231123!5m2!1svi!2s" width="100%" height="260" frameborder="0" style="border: 0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
