
@{
    ViewBag.Title = "Danh sách lớp";
    Layout = "~/Views/Shared/_GiangVien.cshtml";
}

<style>
    .table th, .table td {
        width: 250px;
        text-align: center;
    }
</style>

<h3 class="text-center" style="color: #0066b3;">Danh sách học viên của <span style="color: orangered">@ViewBag.TenLop</span> ngày <span style="color: orange">@ViewBag.NgayDay</span></h3>
<main class="shadow-sm" style="background-color: #fff; max-width: 100%; min-height: 500px; padding: 20px;">
    <div class="container-fluid">
        @if (Model == null)
        {
            <h4 class="text-center" style="color: orangered;">Không có học viên nào!</h4>
        }
        else
        {
            <form action="@Url.Action("DiemDanh", "GiangVien")" method="post">
                <input type="hidden" name="malh" value="@ViewBag.MaLH" />
                <input type="hidden" name="ngayday" value="@ViewBag.NgayDay" />
                 <div class="d-flex float-end">
                    <button type="submit" class="btn btn-primary mb-2">Lưu điểm danh</button>
                </div>
                <table class="table table-bordered table-striped table-hover ">
                    <thead class="table-primary" style="background-color: #0066b3; color: white;">
                        <tr>
                            <th>Mã học viên</th>
                            <th>Họ tên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Điểm danh</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var hv in Model)
                        {
                            <tr>
                                <td>@hv.MaHV</td>
                                <td>@hv.HoTen</td>
                                <td>@hv.SoDT</td>
                                <td>@hv.Email</td>
                                <td>
                                    @*<input type="checkbox" name="diemDanh[@hv.MaHV]" @(hv.DiemDanh ? "checked" : "") value="false" />*@
                                    <select name="diemDanh[@hv.MaHV]" class="form-control">
                                        <option value="false" @(hv.DiemDanh == false ? "selected" : "")>Có học</option>
                                        <option value="true" @(hv.DiemDanh == true ? "selected" : "")>Vắng</option>
                                    </select>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">
                @TempData["Success"]
            </div>
        }
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }
    </div>
</main>