@model List<DoAnChuyenNganh_HeThongTrungTamTinHoc.ViewModels.LichDayTheoTuanViewModel>
@{
    ViewBag.Title = "Lịch dạy";
    Layout = "~/Views/Shared/_GiangVien.cshtml";
    var lichDayTheoTuan = ViewBag.LichDayTheoTuan as List<dynamic>;
}

<body class="d-flex flex-column h-100 w-100">
    <header class="custom-header" style="background-color: #0066b3;">
    </header>

    <main class="shadow-sm" style="background-color: #fff; max-width: 100%; min-height: 500px;">
        <div class="container-fluid">
            <h3 class="text-center" style="color: #0066b3;">@ViewBag.Title của giảng viên <span style="color: orangered">@ViewBag.TenGV</span></h3>

            @if (Model == null)
            {
                <h3 style="color: orangered;" class="text-center mt-5">Hiện chưa có lịch dạy</h3>
            }
            else if(Model != null)
            {
                foreach (var weekGroup in Model)
                {
                    foreach (var item in weekGroup.Days)
                    {
                        <a href="@Url.Action("DanhSachHocVien", "GiangVien", new { malh = item.MaLH, ngayday = item.NgayDay.ToString("yyyy/MM/dd") })" class="text-decoration-none">
                            <table class="table table-bordered table-hover mt-3">
                                <thead class="table-primary">
                                    <tr>
                                        <th>Thứ</th>
                                        <th>Ngày</th>
                                        <th>Lớp học</th>
                                        <th>Mã lớp</th>
                                        <th>Giờ bắt đầu</th>
                                        <th>Giờ kết thúc</th>
                                        <th>Giảng viên</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@item.NgayDay.ToString("dddd", new System.Globalization.CultureInfo("vi-VN"))</td>
                                        <td>@item.NgayDay.ToString("yyyy/MM/dd")</td>
                                        <td><strong>@item.LopHoc.TenPhong</strong></td>
                                        <td>@item.MaLH</td>
                                        <td>@item.GioBatDau</td>
                                        <td>@item.GioKetThuc</td>
                                        <td>@item.GiaoVien.HoTen</td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                    }
                }
            }
        </div>
    </main>
</body>
