@model List<DoAnChuyenNganh_HeThongTrungTamTinHoc.Models.LichDay>
@{
    ViewBag.Title = "Lịch dạy";
    Layout = "~/Views/Shared/_GiangVien.cshtml";
}

<body class="d-flex flex-column h-100 w-100">
    <header class="custom-header" style="background-color: #0066b3;">
    </header>

    <main class="shadow-sm" style="background-color: #fff; max-width: 100%; min-height: 500px;">
        <div class="container-fluid">
            <h3 class="text-center" style="color: #0066b3;">@ViewBag.Title của giảng viên <span style="color: orangered">@ViewBag.TenGV</span></h3>

            @if (ViewBag.LichDay.Count == 0)
            {
                <h3 style="color: orangered;" class="text-center mt-5">Hiện chưa có lịch dạy!</h3>
            }
            else
            {
                foreach (var item in Model)
                {
                    <a href="@Url.Action("DanhSachHocVien", "GiangVien", new { malh = item.MaLH, ngayday = item.NgayDay })" class="text-decoration-none">

                        <table class="table table-bordered table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th>Lớp học</th>
                                    <th>Mã lớp</th>
                                    <th>Ngày dạy</th>
                                    <th>Giờ bắt đầu</th>
                                    <th>Giờ kết thúc</th>
                                    <th>Giảng viên</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>@item.LopHoc.TenLop</strong></td>
                                    <td>@item.MaLH</td>
                                    <td style="color: orange">@item.NgayDay.ToShortDateString()</td>
                                    <td style="color: orangered">@item.GioBatDau</td>
                                    <td style="color: orangered">@item.GioKetThuc</td>
                                    <td>@item.GiaoVien.HoTen</td>
                                </tr>
                            </tbody>
                        </table>
                    </a> 
                }
            }
        </div>
    </main>
</body>
