@model DoAnChuyenNganh_HeThongTrungTamTinHoc.Models.TaiKhoan
@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="card mb-3 mx-auto mt-5" style="max-width: 700px; background-color: #0066b3;">
    <div class="row g-0 mt-1 mb-0">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card-body text-center">
                <h2 style="color: white;">@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <div class="row g-0 mt-1">
        <div class="col-md-12">
            <div class="card-body">
                @using (Html.BeginForm("DangKy", "Account", FormMethod.Post))
                {
                    <div class="row my-2">
                        <div class="col-3"></div>
                        <div class="col-6 text-light">
                            @Html.LabelFor(model => model.MaHV)
                            @Html.TextBoxFor(model => model.MaHV, new { placeholder = "Mã học viên..", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MaHV, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-3"></div>
                        <div class="col-6 text-light">
                            @Html.LabelFor(model => model.TenDangNhap)
                            @Html.TextBoxFor(model => model.TenDangNhap, new { placeholder = "Tên đăng nhập..", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-3"></div>
                        <div class="col-6 text-light">
                            @Html.LabelFor(model => model.MatKhau)
                            @Html.PasswordFor(model => model.MatKhau, new { placeholder = "Mật khẩu..", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-3"></div>
                        <div class="col-6 text-light">
                            @Html.Label("retypePassword", "Nhập lại mật khẩu")
                            @Html.Password("retypePassword", "", new { @class = "form-control" })
                            @Html.ValidationMessage("retypePassword", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                    <div class="row my-2 mt-4">
                        <div class="col-3"></div>
                        <div class="col-6 text-light text-end">
                            <button type="submit" class="btn btn-light">Đăng ký</button> &nbsp;
                            <a href="/Home/Index" class="btn btn-warning">Quay lại</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

